footer {
  p {
    color: $beige;
    text-align: center;
    line-height: 2rem;
  }
}

.contacto {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  size: 30rem;
}

div {
  a {
    i {
      width: 100rem;
    }
  }
}
